# Treat binary files as binary to avoid EOL conversion
*text=auto eof=LF
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.mp4 binary
*.mp3 binary
*.ttf binary
*.otf binary
*.woff binary
*.zip binary
*.rar binary
*.tar binary
*.gz binary
*.7z binary
